<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        ul
            each employee in employees
                li
                    a(href="/employees/"+employee._id) 
                        h3 #{employee.name}
                    if employee.refer
                        h5 Referred by: 
                            a(href="/employees/"+employee.refer._id)  #{employee.refer.name}

