html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home

        include styles.pug

    body
        include navbar.pug

        
        .container
            .row
                h3.col.s12.center Smart Doctor
            
            .row
                .col.s4
                    .card.small.hoverable
                .col.s4
                    .card.small.hoverable
                .col.s4
                    .card.small.hoverable
                .col.s4
                    .card.small.hoverable
                .col.s4
                    .card.small.hoverable
                .col.s4
                    .card.small.hoverable


        include scripts.pug


