nav.blue.darken-4
    .nav-wrapper
        a.brand-logo(href="/") Logo
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href="/") Home
                    i.material-icons.left filter_vintage
            li
                a(href="/about") About
                    i.material-icons.left account_circle
            