extends layout.pug

block styles
    //- Use this spcae for page related styles
    
block content
    //- Use this spcae for page content

block scripts
    //- Use this spcae for page related scripts
    