body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.blue-gradient {
  background: radial-gradient(#6299ff , #0f0faa );
}

.strong {
  font-weight: 600;
}