extends layout.pug

block styles
    

block content
    .container
        .row
            h3.col.s12.center Smart Doctor
        
        .row
            .col.s4
                .card.small.hoverable
            .col.s4
                .card.small.hoverable
            .col.s4
                .card.small.hoverable
            .col.s4
                .card.small.hoverable
            .col.s4
                .card.small.hoverable
            .col.s4
                .card.small.hoverable

block scripts
    