mixin product(id,name,img)
    .col.s4
        .card
            .card-image
                img.materialboxed(src=img, alt="Product image")
                
            .card-content
                span.card-title= name
                p Some description
            .card-action
                a.btn.btn-flat.red.white-text(href="/details?product="+id) Add